.react-datepicker-wrapper{
    width:100%;
}

.input-group-datepicker {
    display: flex;
    align-items: center;
}

.input-group-datepicker .InputIconTooltip {
    margin-left: 8px; /* Adjust this value as needed */
}