.spinner-wrapper {
    position: relative;
    &.spinner-wrapper-lg {
        min-height: 80px;
        &.loading {
            .spinner-border {
                border: 0.65em solid currentColor;
                border-right-color: transparent;
                width: 4rem;
                height: 4rem;
            }
        }
    }
    &.loading {
        .spinner-container {
            width: 100%;
            position: absolute;
            height: 100%;
            opacity: 0.9;
            z-index: 1000;
            .spinner-border {
                z-index: 1000;
                color: #0074bb !important;
            }
        }

        .spinner-content {
            opacity: 0.5;
        }
    }
}
